[submodule "ruby-thread_safe"]
	path = ruby-thread_safe
	url = ssh://aur@aur.archlinux.org/ruby-thread_safe.git
[submodule "sconsify"]
	path = sconsify
	url = ssh://aur@aur.archlinux.org/sconsify.git
[submodule "obsh-git"]
	path = obsh-git
	url = ssh://aur@aur.archlinux.org/obsh-git.git
